@(transactionList:List[PaymentReview],message:String)(implicit session: play.api.mvc.Session)

@template{
<h1>Accepted Transactions</h1>
@message
<table class="table table-condensed">
    <thead>
    <tr>
        <th>ID</th>
        <th>Employee</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    </thead>
    @for(index <- 0 until transactionList.size){
    <tr>
        <td>@transactionList(index).id</td>
        <td>@transactionList(index).userName</td>
        <td>@transactionList(index).vendor</td>
        <td>@transactionList(index).amount</td>
        <td>@transactionList(index).description</td>
        <td>
            <form action="@routes.PaymentController.processTransaction(transactionList(index).id)" enctype =
            "multipart/form-data" method="post">

                    <input name="receipt" type="file" class="upload">
                    <input type="submit" name="Processed" class="upload">

            </form>
        </td>
        }

</table>
<a href="@routes.PaymentController.getFile">Download CSV of Accepted Payments</a>
}