@(message:String)(implicit session: play.api.mvc.Session)

@template{

<form action="@routes.EmployeeController.addEmployee()" method="post">
    <div class="form-group">
        <div class="col-xs-3">
            <label>Name</label>
            <input name="name" type="text" class="form-control">
            <label>User Name</label>
            <input name="username" type="text" class="form-control">
            <label>Password</label>
            <input name="password" type="password" class="form-control">
            <label>Account No.</label>
            <input name="accountNo" type="number" class="form-control" min="0">
            <label>Phone</label>
            <input name="phone" type="number" class="form-control" min="0">
            <label>Email</label>
            <input name="email" type="email" class="form-control">
            <label>Address</label>
            <input name="address" type="text" class="form-control">
            <label>Role</label>
            <select name="role" class="form-control">
                <option value="super">SuperAdmin</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <br>
            <input type="submit" name="Submit" class="form-control">
            @message
        </div>
    </div>
</form>


}