@(employeeList:List[Employee],message:String,user: models.User)(implicit request:RequestHeader,messages: Messages)

@main(Messages("home.title"), Some(user)) {

<h1>Add Employee</h1>
<form action="@routes.EmployeeController.addEmployee()" method="post">
    @helper.CSRF.formField
    <div class="form-group">
        <div class="col-xs-6">
            <label>Email</label>
            <input name="email" type="email" class="form-control">
            <label>Role</label>
            <select name="role" class="form-control">
                <option value="super">SuperAdmin</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <br>
            <input type="submit" name="Submit" class="btn btn-default">
            <p> @message</p>
        </div>
    </div>
</form>
<table class="table table-condensed ">

    <thead>

    <tr>
        <th class="col-xs-6">Employee email</th>
        <th class="col-xs-6">Employee Role</th>
    </tr>
    </thead>
    @for(index <- 0 until employeeList.size){
    <tr>
        <td class="col-xs-6">@employeeList(index).email</td>
        <td class="col-xs-6">@employeeList(index).role</td>
    </tr>
    }
</table>


}