@(message:String)(implicit session: play.api.mvc.Session)

@main(title="Employee") {
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="@routes.EmployeeController.employee">Employee</a></li>

            <li><a href="@routes.VendorController.vendor">Vendor</a></li>
            <li><a href="@routes.PaymentController.payment">Payment</a></li>

            <li><a href="@routes.PaymentController.reviewPayments">Review Payments</a></li>

            <li><a href="@routes.LoginController.logout">Logout</a></li>
        </ul>
    </div>
</nav>
body { padding-top: 100px; }

<form action="@routes.EmployeeController.addEmployee()" method="post">
    <div class="form-group">
        <div class="col-xs-3">
            <br>
            <label>Name</label>
            <input name="name" type="text" class="form-control">
            <label>User Name</label>
            <input name="username" type="text" class="form-control">
            <label>Password</label>
            <input name="password" type="password" class="form-control">
            <label>Account No.</label>
            <input name="accountNo" type="number" class="form-control">
            <label>Phone</label>
            <input name="phone" type="number" class="form-control">
            <label>Email</label>
            <input name="email" type="email" class="form-control">
            <label>Address</label>
            <input name="address" type="text" class="form-control">
            <label>Role</label>
            <select name="role" class="form-control">
                <option value="super">SuperAdmin</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <br>
            <input type="submit" name="Submit" class="form-control">
        </div>
    </div>
</form>


}