@(content:Html)

@main(title="Welcome"){
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="@routes.EmployeeController.employee">Add Employee</a></li>
            <li><a href="@routes.EmployeeController.deleteEmployee">Delete Employee</a></li>
            <li><a href="@routes.VendorController.vendor">Add Vendor</a></li>
            <li><a href="@routes.VendorController.deleteVendor">Delete Vendor</a></li>
            <li><a href="@routes.PaymentController.payment">Payment</a></li>
            <li><a href="@routes.PaymentController.reviewPayments">Review Payments</a></li>
            <li><a href="@routes.PaymentController.viewDeniedTransactions">Denied Payments</a></li>
            <li><a href="@routes.EmployeeController.editProfile">Edit Profile</a></li>
            <li><a href="@routes.EmployeeController.changePassword">Change Password</a></li>
            <li><a href="@routes.LoginController.logout">Logout</a></li>
        </ul>
    </div>
</nav>
body { padding-top: 100px; }
@content
}