@(employeeList:List[Employee],message:String)(implicit session: play.api.mvc.Session)

@template{
<h1>Delete Employee</h1>
<form action="@routes.EmployeeController.deleteEmployee" method="post" class="form-group">
    <div class="col-xs-3">
        <label>Select Employee</label>
        <select name="userName" class="form-control">
            @for(index<-0 until employeeList.size){
            <option value="@employeeList(index).userName">@employeeList(index).userName</option>
            }
        </select>
        <br>
        <input type="submit" value="Delete" class="btn btn-default">
        @message
    </div>
</form>
<br />
<table class="table table-condensed">

    <thead>

    <tr>
        <th>Name</th>
        <th>User Name</th>
        <th>Account No</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Role</th>
    </tr>
    </thead>
    @for(index <- 0 until employeeList.size){
    <tr>
        <td>@employeeList(index).name</td>
        <td>@employeeList(index).userName</td>
        <td>@employeeList(index).accountNo</td>
        <td>@employeeList(index).phone</td>
        <td>@employeeList(index).email</td>
        <td>@employeeList(index).address</td>
        <td>@employeeList(index).role</td>
    </tr>
    }
</table>

}