@(profileData:Form[UpdateProfileForm],message: String)(implicit messages:Messages,session: play.api.mvc.Session)
@template{
@helper.form(action=routes.EmployeeController.updateProfile){
<h1>Edit Profile</h1>
<div class="form-group">
    <div class="col-xs-3">
        @helper.inputText(profileData("accountNo"),args='class->"form-control",'_label->"Account No")
        @helper.inputText(profileData("phone"),args='class->"form-control",'_label->"Phone No")
        @helper.inputText(profileData("email"),args='class->"form-control",'_label->"Email")
        @helper.inputText(profileData("address"),args='class->"form-control",'_label->"Address")
        <input type="submit" class="btn btn-default">
        <br \>
        <label>@message</label>
    </div>
</div>
}

}
