@(vendorList:List[String], message: String)(implicit session: play.api.mvc.Session)

@template{
<form action="@routes.PaymentController.addTransaction" method="post">
    <div class="form-group">
        <div class="col-xs-3">
            <label>Select Vendor</label>
            <select name="vendor" class="form-control">
                @for(index<-0 until vendorList.size){
                <option value="@vendorList(index)">@vendorList(index)</option>
                }
            </select>
            <br>
            <label>Amount</label>
            <input name="amount" type="number" class="form-control">
            <br>
            <label>Description</label>
            <input name="description" type="text" class="form-control">
            <br>
            <input type="submit" value="Submit" class="btn btn-default">
            <br>
            <br>
            @message
        </div>
    </div>
</form>


}