@(vendorList:List[String], message: String,user: models.User)(implicit request:RequestHeader,messages: Messages)

@main(Messages("home.title"), Some(user)) {

<h1>Add Payment</h1>
    @helper.form(action = routes.PaymentController.addTransaction()) {
    @helper.CSRF.formField
    <div class="form-group">
        <div class="col-xs-6">
            <label>Select Vendor</label>
            <select name="vendor" class="form-control">
                @for(index<-0 until vendorList.size){
                <option value="@vendorList(index)">@vendorList(index)</option>
                }
            </select>
            <br>
            <label>Amount</label>
            <input name="amount" type="number" class="form-control">
            <br>
            <label>Description</label>
            <input name="description" type="text" class="form-control">
            <br>
            <input type="submit" value="Submit" class="btn btn-default">
            <br>
            <br>
            @message
        </div>
    </div>
}


}