@(transactionList:List[PaymentReview])(implicit session: play.api.mvc.Session)

@template{
<h1>Processed Transactions</h1>
<table class="table table-condensed">
    <thead>
    <tr>
        <th>ID</th>
        <th>Employee</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    </thead>
    @for(index <- 0 until transactionList.size){
    <tr>
        <td>@transactionList(index).id</td>
        <td>@transactionList(index).userName</td>
        <td>@transactionList(index).vendor</td>
        <td>@transactionList(index).amount</td>
        <td>@transactionList(index).description</td>
        <td><a href ="@routes.PaymentController.getReceipt(transactionList(index).fileName)">Download receipt</a></td>
        }

</table>
}