@(transactionList:List[PaymentReview],user: models.User)(implicit request:RequestHeader,messages: Messages)

@main(Messages("home.title"), Some(user)) {

<h1>Processed Transactions</h1>
<table class="table table-condensed">
    <thead>
    <tr>
        <div class="row">
        <th class="col-md-2">PayID</th>
        <th class="col-md-2">Employee</th>
        <th class="col-md-2">Vendor</th>
        <th class="col-md-2">Amount</th>
        <th class="col-md-2">Description</th>
        <th  class="col-md-2"></th>
        </div>
    </tr>
    </thead>
    @for(index <- 0 until transactionList.size){
    <tr>
        <div class="row">
        <td class="col-md-2">@transactionList(index).id</td>
        <td class="col-md-2">@transactionList(index).userName</td>
        <td class="col-md-2">@transactionList(index).vendor</td>
        <td class="col-md-2">@transactionList(index).amount</td>
        <td class="col-md-2">@transactionList(index).description</td>
        <td class="col-md-2"><a href ="@routes.PaymentController.getReceipt(transactionList(index).fileName)">Receipt
        </a></td>
        </div>
        }

</table>
}