@(transactionList:List[PaymentReview],user: models.User)(implicit request:RequestHeader,messages: Messages)

@main(Messages("home.title"), Some(user)) {

<h1>Processed Transactions</h1>
<div style="overflow-x:scroll">
<table class="table table-condensed " style="overflow-x:scroll">
    <thead>
    <tr>

        <th>PayID</th>
        <th>Employee</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Description</th>
        <th></th>

    </tr>
    </thead>
    @for(index <- 0 until transactionList.size){
    <tr>

        <td>@transactionList(index).id</td>
        <td>@transactionList(index).userName</td>
        <td>@transactionList(index).vendor</td>
        <td>@transactionList(index).amount</td>
        <td>@transactionList(index).description</td>
        <td><a href ="@routes.PaymentController.getReceipt(transactionList(index).fileName)">Receipt
        </a></td>

        }

</table>
</div>
}